<div class="container section foto">

    <div class="row center-align">
        <div class="col s6">
                   
                <a class="waves-effect waves-light btn modal-trigger boton" href="#modal1"></a>
        

                
                <div id="modal1" class="modal">
                    <div class="modal-content">
                    <h4>Desarrollo en Sistemas</h4>
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                    
                    </div>

                    <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                    </div>
                </div>
        </div>

        <div class="col s6">
            <img src="../../../assets/img/tinemi.jpeg" class="responsive-img" alt="">

        </div>
    </div>


    <div class="row">
        <h1 class="center-align" id="tinemi"></h1>
        <div class="col s6">
          <div class="card">
            <div class="card-image">
              <img src="../../../assets/img/1.jpg" class="responsive-img">
              <span class="card-title">Catalogo de Productos</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a target="blank_" href="https://drive.google.com/file/d/18-z7b77SCMl-a7_MFQly_NXjeRuyTlO5/view?usp=sharing">Catalogo</a>
            </div>
          </div>
        </div>

        <div class="col s6">
            <div class="card">
              <div class="card-image">
                <img src="../../../assets/img/1.jpg" class="responsive-img">
                <span class="card-title">Catalogo Sobre mantenimiento</span>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action">
                <a target="blank_" href="https://drive.google.com/file/d/18-z7b77SCMl-a7_MFQly_NXjeRuyTlO5/view?usp=sharing">Catalogo</a>
              </div>
            </div>
          </div>


      </div>
    
</div>